  </div> 
  </div>
  </div>
  </nav>
  <div class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-md-12 col-sm-12">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12">
  <%= form_tag(:action => "senddata") do %>
      <%= label_tag 'タイトル' %>
      <%= text_field_tag 'title','', maxlength: "100"%>
      <%= label_tag '内容' %>
      <%= text_area_tag 'content','',rows:"7", maxlength: "2000", escape: true %>
      <%= submit_tag "作成", class: "btn btn-large" %>
  <% end %>
  </div>

   </div>
   </div>

