
  <div class="container">
  <div class="row rowtop">
  <div class="col-xs-12 col-md-12 col-sm-12">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  </div>
  <div class="col-xs-12 col-md-12 col-sm-12">
  <%= form_tag(:action => "senddata") do %>
      <%= label_tag 'タイトル' %>
      <%= text_field_tag 'title','', maxlength: "100"%>
      </div> 
      <div class="col-xs-12 col-md-4 col-sm-4">
      <%= label_tag '画像の投稿' %>
      <input type="file" id="file-selector" style="display:none;"></input>
          <input type="button" class="btn btn-default" value="画像の選択" id="picselector">
      </div>
      <div class="col-xs-12 col-md-8 col-sm-8">
        <%= label_tag 'サムネイルプレビュー' %>
        <div class="center">
          <img class="loading" src="<%= asset_path "gif-load.gif"%>" style="display:none;">
        </div>
        <div class="center">
          <img class="image-preview"/>
        </div>
          <input id="imgurl" name="imgurl" class="imaurl" type="hidden">
       
      </div>
      <div class="col-xs-12 col-md-12 col-sm-12">
      <%= label_tag '内容' %>
      <%= text_area_tag 'content','',rows:"7", maxlength: "2000", escape: true %>
      <%= submit_tag "作成", class: "btn btn-default btn-large " %>
  <% end %>
  <div class="space"></div> 
  </div>
  </div>
  </div>

